<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!--<link rel="stylesheet" th:href="@{/css/style.css}"/>-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <title>Insert title here</title>
</head>
<body>
<th:block th:replace="~{header::header}"/>
<div class="container" style="margin-top:100px">
  <h2>게시글 상세 화면</h2>
  <form id="frm" method="post">
    <table class="board_detail">
      <caption>게시글 상세 내용</caption>
      <colgroup>
        <col width="15%">
        <col width="35%">
        <col width="15%">
        <col width="35%">
      </colgroup>
      <tbody>
      <tr>
        <th scope="row">글 번호</th>
        <td th:text="${board.boardId}"></td>
        <th scope="row">조회수</th>
        <td th:text="${board.hitCnt}"></td>
      </tr>
      <tr>
        <th scope="row">작성자</th>
        <td th:text="${board.creatorId}"></td>
        <th scope="row">작성일</th>
        <td th:text="${board.createdAt}"></td>
      </tr>
      <tr>
        <th scope="row">제목</th>
        <td th:text="${board.title}" /></td>
      </tr>
      <tr>
        <td colspan="4" class="view_text">
          <textarea title="내용" id="contents" name="contents" th:text="${board.contents}"></textarea>
        </td>
      </tr>
      </tbody>
    </table>
    <input type="hidden" name="boardId" id="boardId" th:value="${board.boardId}" />
  </form>

  <a href="#this" class="btn" id="list">목록으로</a>
  <!--<a href="#this" class="btn" id="edit">수정</a>-->
  <th:block th:if="${user.userId} == 'admin'">
    <a href="#this" class="btn" id="delete">삭제</a>
  </th:block>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $('#list').on("click",function(){
        location.href="/board/boardList";
      });

      $('#edit').on("click",function(){
        var frm = $('#frm')[0];
        frm.action = "/board/updateBoard";
        frm.submit();

      });

      $('#delete').on("click",function(){
        var frm = $('#frm')[0];
        frm.action = "/board/deleteBoard";
        frm.submit();
      });
    });
  </script>
</body>
</html>