<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
  <h2>예약내역</h2><br><hr>
  <table class="table table-bordered" >
    <colgroup>
      <col width="15%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="13%"/>
      <col width="10%"/>
      <col width="10%"/>
      <col width="20%"/>
    </colgroup>
    <thead>
    <tr>
      <th scope="col">예약번호</th>
      <th scope="col">항공편</th>
      <th scope="col">출발지</th>
      <th scope="col">도착지</th>
      <th scope="col">출발날짜</th>
      <th scope="col">출발시간</th>
      <th scope="col">도착시간</th>
      <th scope="col">예약시간</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="reservation : ${reservations}">
      <tr>
        <td><a th:href="@{/reservation/detail(ticketNum=${reservation.ticketNum})}" th:text="${reservation.ticketNum}"></a></td>
        <td th:text="${reservation.planeName}"></td>
        <td th:text="${reservation.schedule.departure}"></td>
        <td th:text="${reservation.schedule.arrival}"></td>
        <td th:text="${reservation.schedule.departureDate}"></td>
        <td th:text="${reservation.schedule.departureTime}"></td>
        <td th:text="${reservation.schedule.arrivalTime}"></td>
        <td th:text="${reservation.ticketDate}"></td>

      </tr>
    </th:block>
    </tbody>
  </table>
</div>

</body>
</html>