<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/schedule/search">
출발지 : <select name="departure" id="departure">
    <option value="SEL">김포</option>
    <option value="KWJ">광주</option>
    <option value="JEJU">제주도</option>
</select>
도착지 :<select name="arrival" id="arrival">
    <option value="SEL">김포</option>
    <option value="KWJ">광주</option>
    <option value="JEJU">제주도</option>
</select>
출발날짜: <input type="date" name="departureDate"/>
    <input type="submit" value="검색">
</form>
</body>
</html>