<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>게시글 목록</h2>
    <table class="schedule_list">
        <colgroup>
            <col width="15%"/>
            <col width="15%"/>
            <col width="20%"/>
        </colgroup>
        <thead>
        <tr>

            <th scope="col">도착지</th>
            <th scope="col">출발지</th>
            <th scope="col">항공편</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${schedules}">
            <td th:text="${schedule.departure}"></td>
            <td th:text="${schedule.arrival}"></td>
            <td th:text="${schedule.planeName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>