<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{header::header}"/>
<div class="container" style="margin-top:100px">
    <h2>항공권 검색</h2>
    <hr>
<form action="/schedule/search">

        <table class="table table-bordered" >
            <tr>
                <td>출발지 : <select name="departure" id="departure">
                    <option value="ICN">인천</option>
                    <option value="GMP">김포</option>
                    <option value="KWJ">광주</option>
                    <option value="CJU">제주</option>
                    <option value="RSU">여수</option>
                    <option value="CJJ">청주</option>
                    <option value="TAE">대구</option>
                </select></td>
                <td>도착지 :<select name="arrival" id="arrival">
                    <option value="ICN">인천</option>
                    <option value="GMP">김포</option>
                    <option value="KWJ">광주</option>
                    <option value="CJU">제주</option>
                    <option value="RSU">여수</option>
                    <option value="CJJ">청주</option>
                    <option value="TAE">대구</option>
                </select>
                </td>
                <td>
                    출발날짜: <input type="date" name="departureDate"/>
                </td>
                <td>
                    탑승인원:
                    <select name="passengerCount" id="passengerCount">
                        <th:block th:each="num : ${#numbers.sequence(1,5)}">
                            <option th:text="${num}">[[${num} ]]</option>
                        </th:block>
                    </select>
                </td>
                <td>
                    <input type="submit" value="검색">
                </td>
            </tr>
        </table>





</form>
</div>
</body>
</html>