<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.reservation.board.BoardMapper">   <!-- mapper의 네임스페이스를 지정 인터페이스의 경로 -->
    <!-- 쿼리 id 해당 (id를 이용하여 질의를 찾아 수행함), 실행 결과를 어떤 형식으로 반환할 것인지 -->
    <select id="selectBoardList" resultType="com.example.reservation.board.BoardDto">
        <![CDATA[
				SELECT board_id, title, hit_cnt, created_At
				FROM t_board
				WHERE is_deleted='N'
				ORDER BY board_id DESC
		]]>
    </select>

    <insert id="insertBoard" parameterType="com.example.reservation.board.BoardDto">
        <![CDATA[
                INSERT INTO t_board(
                  title,
                  contents,
                  created_At,
                  creator_id
                ) VALUES (
                  #{title},
                  #{contents},
                  NOW(),
                  'admin'
                )
        ]]>
    </insert>

    <update id="updateHitCount" parameterType="int">
        <![CDATA[
            UPDATE t_board
            SET hit_cnt = hit_cnt+1
            WHERE board_id = #{board_id}
         ]]>
    </update>

    <select id="selectBoardDetail" parameterType="int" resultType="com.example.reservation.board.BoardDto">
        <![CDATA[
            SELECT board_id, title, contents, hit_cnt, created_At, creator_id
            FROM t_board
            WHERE board_id=#{board_id} AND is_deleted='N'
         ]]>
    </select>

    <update id="updateBoard" parameterType="com.example.reservation.board.BoardDto">
        <![CDATA[
            UPDATE t_board
            SET title = #{title}, contents = #{contents}, updater_id = 'admin', updated_At = NOW()
            WHERE board_id=#{boardId}
        ]]>
    </update>

    <update id="deleteBoard" parameterType="int">
        <![CDATA[
            DELETE t_board
            WHERE board_id=#{board_id}
        ]]>
    </update>
</mapper>

